$picnic-nav-position: sticky;
$picnic-nav-height: 4em;
$picnic-primary: #008bce;
// $gray: #d9d9d9
$picnic-dull: #d9d9d9;

@import 'picnic/src/themes/default/theme';

$font-family: 'Roboto';
$font-size-sm: .8em;
$light-gray: #f9f9f9;

$icon-size-md: 1.2em;
$icon-size-lg: 1.5em;

$devices: (
  // Large devices (desktops, 992px and up)
  'lg': 900px,
  // Extra large devices (large desktops, 1200px and up)
  'xl': 1200px,
);

@mixin media($device) {
  @media (min-width: map-get($devices, $device)) {
    @content;
  }
}
