nav {
  text-align: center !important;
  background: #008bce !important; }

.search {
  position: relative;
  display: inline-block;
  width: 65%;
  max-width: 400px; }
  .search .search-input {
    padding-right: 1.8em;
    border: none; }
  .search .search-clear {
    position: absolute;
    right: 0;
    margin: 0;
    background: transparent;
    color: #111; }
    .search .search-clear:hover {
      background: transparent; }
