.card.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6em; }
  .card.list-item.active {
    color: #008bce; }
  .card.list-item .list-item-picture {
    width: 2.5em;
    height: 2.5em;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 1.2em;
    flex: 0 0 2.5em;
    opacity: 0.5; }
  .card.list-item .list-item-heading {
    font-weight: normal; }
  .card.list-item .list-item-content {
    flex: 1 auto auto; }
  .card.list-item .list-item-meta {
    font-size: .8em;
    color: #aaa;
    margin-bottom: 0.6em; }
  .card.list-item .list-item-actions {
    display: flex; }

.list-more {
  width: 100% !important;
  text-align: center; }
