@import './stylesheets/variables'

$picture-size: 2.5em

.card.list-item
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 $picnic-separation

  &.active
    color: $picnic-primary
    border-color: $picnic-primary
    box-shadow: 1px 1px 4px $picnic-dull

  .list-item-picture
    width: $picture-size
    height: $picture-size
    border: $picnic-border
    border-radius: 50%
    margin-right: $picnic-separation * 2
    flex: 0 0 $picture-size
    opacity: 0.5

  .list-item-heading
    font-weight: normal

  .list-item-content
    flex: 1 auto auto

  .list-item-meta
    font-size: $font-size-sm
    color: $gray
    margin-bottom: $picnic-separation

  .list-item-actions
    display: flex

.list-more
  &.icon.big
    width: 100%
    text-align: center

.list-search-term
  font-size: $font-size-md
  color: $gray
  margin-bottom: $picnic-separation
