@import './variables'

.meta
  display: flex
  justify-content: space-between
  align-items: center
  padding: $picnic-separation
  @include media('lg')
    padding: $picnic-separation * 2 $picnic-separation
  text-align: center

.flex > .no-padding-bottom
  padding-bottom: 0 !important

  @include media('lg')
    padding-bottom: $picnic-separation

.spacer
  width: $icon-size-md
  height: $icon-size-md
