@charset "UTF-8";
.ql-container.ql-snow {
  font-family: "Roboto";
  font-size: "12px";
  border: 1px solid #d9d9d9 !important;
  border-radius: 0.2em;
  background: #fff;
  min-height: 25vh; }

.ql-toolbar.ql-snow {
  font-family: "Roboto";
  border: none; }

.ql-editor ul.task-list > li {
  pointer-events: none; }

.ql-editor ul.task-list > li::before {
  color: #000;
  border: 1px solid #000;
  content: " ";
  font-size: 15px;
  height: 15px;
  line-height: 1;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 15px;
  cursor: default;
  pointer-events: all; }

.ql-editor ul.task-list > li.checked {
  text-decoration: line-through; }

.ql-editor ul.task-list > li.checked::before {
  content: "✔"; }
