# bundler
/.bundle

# logfiles and tempfiles
/log/*
!/log/.keep
/tmp
npm-debug.log*

# npm
/node_modules
/client/node_modules/

# ctags
/tags

# build and runtime
/system
/client/build
/public/assets/

# tokens
/.lerna-changelog-github-token

# build files
/client/src/*.css
