# bundler
/.bundle

# logfiles and tempfiles
/log/*
!/log/.keep
/tmp
npm-debug.log*

# npm
/node_modules
/client/node_modules/

# ctags
/tags

# build and runtime
/system
/client/build
/public/assets/

# tokens / env
/.env
/.lerna-changelog-github-token

# build files
/client/src/*.css

# rake client:build_and_deploy
/public/favicon.png
/public/icons/
/public/index.html
/public/manifest.json
/public/service-worker.js
