{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-prettier/recommended",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-prettier",
    "stylelint-scss",
    "stylelint-order",
    "stylelint-config-rational-order/plugin"
  ],
  "rules": {
    "prettier/prettier": true,
    "no-empty-source": null,
    "selector-class-pattern": null,
    "color-named": null,
    "max-nesting-depth": [
      3,
      {
        "ignore": [
          "blockless-at-rules",
          "pseudo-classes"
        ],
        "ignoreAtRules": [
          "media"
        ]
      }
    ],
    "order/properties-alphabetical-order": null,
    "order/properties-order": [],
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": false,
        "empty-line-between-groups": false
      }
    ],
    "scss/at-extend-no-missing-placeholder": null,
    "selector-attribute-quotes": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "ng-deep"
        ]
      }
    ]
  }
}
