class Navbar extends React.Component {
  render() {
    return (
      <div className="navbar navbar-info">
        <div className="container-fluid">
          <div className="navbar-header">
            <a className="navbar-brand">
              <img src="<%= asset_path 'logo-donkeywhite.png' %>" className="navbar-logo" />
              <span>Mykonote</span>
            </a>
          </div>
          <div>
            <div className="navbar-form navbar-right">
              <div className="form-group">
                <input
                  type="text"
                  className="string optional form-control"
                  placeholder="Search"
                  onChange={this.props.handleSearchEnter} />
              </div>
            </div>
          </div>
        </div>
      </div>
    );
  }
}
