class NoteForm extends React.Component {
  constructor(props, context) {
    super(props, context);

    this.state = {
      uid: this.props.uid,
      title: this.props.title,
      content: this.props.content
    };

    this.shouldRerender = true;
  }

  render() {
    return (
      <form className="simple_form form-horizontal" onSubmit={this.handleFormSubmit}>
        <div className="form-inputs">
          <div className="form-group form-group-no-label string optional note_title">
            <input
              type="text"
              className="string optional form-control"
              value={this.state.title}
              onChange={this.handleTitleChange.bind(this)}
              placeholder="Title"
              ref={(c) => this.$title = $(c)}
            />
          </div>
          <div className="form-group form-group-no-label text optional note_content">
            <div
              dangerouslySetInnerHTML={ { __html: this.state.content }}
              ref={(c) => this.$content = $(c)}
            ></div>
          </div>
        </div>
      </form>
    );
  }

  // prevent form submission by hitting enter.
  // changes will be asynchronously saved by ajax.
  handleFormSubmit(e) {
    e.preventDefault();
    return false;
  }

  handleTitleChange(e) {
    this.shouldRerender = true;
    this.setState({ title: e.target.value }, this.handleChange);
  }

  handleContentChange(e) {
    this.shouldRerender = false;
    this.setState({ content: this.$content.html() }, this.handleChange);
  }

  handleChange() {
    this.props.handleChange(
      {
        uid: this.state.uid,
        title: this.state.title,
        content: this.state.content
      }
    );
  }

  componentDidMount() {
    this.focusTitleFieldIfNewNote();
    this.renderEditor();
  }

  componentWillReceiveProps(nextProps) {
    if (nextProps.uid !== this.state.uid) {
      // a different note is shown.
      this.shouldRerender = true;
      this.setState({
        uid: nextProps.uid,
        title: nextProps.title,
        content: nextProps.content
      }, () => {
        this.focusTitleFieldIfNewNote();
      });
    }
  }

  shouldComponentUpdate(nextProps, nextState) {
    // don't rerender if the RTE content changes. the cursor jumps to the
    // beginning of the content if we re-initialize the RTE content.
    return this.shouldRerender;
  }

  renderEditor() {
    $.trumbowyg.svgPath = '<%= asset_path('trumbowyg/dist/ui/icons.svg') %>';

    this.$content
      .trumbowyg({
        btns: [
          ['formatting'],
          'btnGrp-semantic',
          'btnGrp-lists',
          ['link'],
          ['removeformat'],
          ['fullscreen']
        ],
        autogrow: true
      })
      .on('tbwchange', this.handleContentChange.bind(this))
      .on('tbwpaste', this.handleContentChange.bind(this));
  }

  focusTitleFieldIfNewNote() {
    if (!this.state.title && !this.state.content) {
      this.$title.focus();
    }
  }
}
