@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    /* from https://fonts.gstatic.com/s/roboto/v15/El-bgsteBznJNL5pgUfFLA.woff2 */
    url('Roboto_300.woff2') format('woff2'),
    /* from https://fonts.gstatic.com/s/roboto/v15/d-QWLnp4didxos_6urzFtg.woff */
    url('Roboto_300.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    /* from https://fonts.gstatic.com/s/roboto/v15/N5Lbe1fynPA1KT8BFvAiGw.woff2 */
    url('Roboto_400.woff2') format('woff2'),
    /* from https://fonts.gstatic.com/s/roboto/v15/grlryt2bdKIyfMSOhzd1eA.woff */
    url('Roboto_400.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    /* from https://fonts.gstatic.com/s/roboto/v15/Op9nD2u96-RO01_6Io91EA.woff2 */
    url('Roboto_500.woff2') format('woff2'),
    /* from https://fonts.gstatic.com/s/roboto/v15/7KXg6nyyqN8gyMoNwQ7aOQ.woff */
    url('Roboto_500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    /* from https://fonts.gstatic.com/s/roboto/v15/tZdhd9Zzj0I2MwoD56osIw.woff2 */
    url('Roboto_700.woff2') format('woff2'),
    /* from https://fonts.gstatic.com/s/roboto/v15/vxNK-E6B13CyehuDCmvQvw.woff */
    url('Roboto_700.woff') format('woff');
}
