@import './variables'

.ql-container.ql-snow
  font-family: $font-family
  font-size: .8em
  border: none
  background: $picnic-white

  .ql-editor
    min-height: 25vh
    border: $picnic-border
    border-radius: $picnic-radius

    &:focus
      border-color: $picnic-primary

.ql-toolbar.ql-snow
  font-family: $font-family
  position: sticky
  top: $picnic-nav-height
  border: none
  box-shadow: 0px 1px 0px $picnic-dull
  z-index: 1000
  background: $light-gray
