@import './stylesheets/variables'

.ql-container.ql-snow
  font-family: $font-family
  font-size: .8em
  border: $picnic-border !important
  border-radius: $picnic-radius
  background: $picnic-white

  .ql-editor
    min-height: 25vh

.ql-toolbar.ql-snow
  font-family: $font-family
  position: sticky
  top: $picnic-nav-height
  border: none
  box-shadow: 0px 1px 0px $picnic-dull
  z-index: 1000
  background: $light-gray
