$picnic-nav-position: sticky;
$picnic-nav-height: 4em;
$picnic-primary: #2c679f;
$picnic-dull: #d9d9d9;

$picnic-warning: #ce6c17;
$picnic-success: #1da42d;

@import 'picnic/src/themes/default/theme';

$font-family: 'Roboto';
$font-size-sm: .75em;
$font-size-md: .85em;
$light-gray: #f9f9f9;

$icon-size-md: 1.1em;
$icon-size-lg: 1.5em;

$devices: (
  // Large devices (desktops, 992px and up)
  'lg': 900px,
  // Extra large devices (large desktops, 1200px and up)
  'xl': 1200px,
);

@mixin media($device) {
  @media (min-width: map-get($devices, $device)) {
    @content;
  }
}
