.notes-list
  @media (min-width: $screen-sm-min)
    overflow-y: auto
    // 60px is from .navbar .navbar-brand (which is a static value
    // in material design sass)
    height: calc(100vh - 60px - #{$navbar-margin-bottom})

.navbar-notes,
.notes-list,
.list-group-item
  @media (max-width: $screen-sm-min)
    @include make-row

.navbar-logo, .navbar-brand .navbar-logo
  height: 100%
  display: inline-block
  margin-right: 15px

.save-state
  position: absolute
  top: 13px
  width: 100%
  text-align: center
  z-index: 1

.list-group
  .note-navigation-item
    cursor: pointer

    &.active
      &:hover, &:focus
        background: transparent
        outline: 0

      .list-group-item-heading, .list-group-item-text
        color: $list-group-active-color
        font-weight: 400

    .list-group-item-heading
      font-size: $font-size-large

    .row-picture, .row-action-primary
      vertical-align: top

      i
        background: $yellow-600

    .row-content
      min-height: 0

      .action-secondary
        &:hover
          i
            color: $brand-danger

.list-more
  display: block
  text-align: center
  height: 35px

.list-more-icon
  font-size: $font-size-h1

.list-more-spinner
  svg
    height: 35px

.navbar-hamburger-button,
.navbar-search-button
  margin-bottom: 0
  z-index: 2

.navbar-hamburger-button
  padding-top: 9px

.navbar-search-button
  padding-top: 5px
  margin-right: 0

.search-bar
  border-bottom: 0
  border-top: 0
  box-shadow: none

.in-sm
  @media (min-width: $grid-float-breakpoint)
    display: block
