.notes-list
  @media (min-width: $screen-lg-min)
    overflow-y: auto
    // $navbar-margin-bottom: body top padding
    // 20px: list bottom margin (static value for `.list-group` definition
    // 1px: correction to avoid scrollbar
    height: calc(100vh - #{$navbar-height} - #{$navbar-margin-bottom} - 20px - 1px)

  @media (max-width: $screen-sm-min)
    @include make-row

.navbar-logo,
.navbar-brand .navbar-logo,
.navbar-spinner
  height: 100%
  display: inline-block

.navbar-spinner
  width: 40px
  margin-right: 15px

  .spinner
    height: 100%

.navbar-brand-title
  display: none

  @media (min-width: $screen-sm-min)
    display: inline

.save-state
  position: absolute
  top: 15px
  left: 40%
  width: 20%
  text-align: center

  @media (min-width: $screen-sm-min)
    top: 18px

.list-group
  .note-navigation-item
    cursor: pointer

    &.active
      &:hover, &:focus
        background: transparent
        outline: 0

      .list-group-item-heading, .list-group-item-text
        color: $list-group-active-color
        font-weight: 400

    .list-group-item-heading
      font-size: $font-size-large

    .row-picture, .row-action-primary
      vertical-align: top

      i
        background: $yellow-600

    .row-content
      min-height: 0

      .action-secondary
        &:hover
          i
            color: $brand-danger

.list-more
  display: block
  text-align: center
  height: 35px

.list-more-icon
  font-size: $font-size-h1

.list-more-spinner
  svg
    height: 35px

.navbar-hamburger-button,
.navbar-search-button
  margin-bottom: 0
  z-index: 2

.navbar-hamburger-button
  padding-top: 9px

.navbar-search-button
  padding-top: 5px
  margin-right: 0

.search-bar
  @media (max-width: $screen-sm-min)
    margin-left: 0
    margin-right: 0

  border-bottom: 0
  border-top: 0
  box-shadow: none

.in-sm
  @media (min-width: $grid-float-breakpoint)
    display: block
